<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCck958orj6ULoIbyfL8BCv_K5CrXX3WZE</string>
	<key>GCM_SENDER_ID</key>
	<string>160026859774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eagleValetParkingMobile</string>
	<key>PROJECT_ID</key>
	<string>eaglevaletparking-a14cd</string>
	<key>STORAGE_BUCKET</key>
	<string>eaglevaletparking-a14cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160026859774:ios:ce7b5a2be8c72dd783adaf</string>
</dict>
</plist>